@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
   box-sizing: border-box; 
}

body {
    background: #224941 url('./Img/bg.jpg') no-repeat center center/cover;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
  /* text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  position: relative;
  transform: scale(1);
  flex-direction: column;
  vertical-align: middle;
  justify-items: center; */
  position: relative;
  text-align: center;
}

.text {
  /* display: inline; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heart {
  font-size: 1px;
  display: inline;
  transform-origin: center;
  transform: scale(0.8);
}


.container.grow {
  animation: grow 3s linear forwards;
}

@keyframes grow {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
}

@keyframes shrink {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.8);
  }
}
